* {
    touch-action: manipulation;
}

:root {
    --primary-blue-morning: rgb(70, 153, 216);
    --color-white-shadow: rgba(255, 255, 255, 0.8);
    --color-black-shadow: rgba(0, 0, 0, 0.8);
    --primary-white: rgb(255, 255, 255);
    --background-blue: rgb(209, 233, 244);
    --background-blue-night: rgb(77, 77, 107);
}

html, body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-blue-morning);
}

.container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}

.weather-body {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    padding: 0;
}

.welcome {
    width: 80%;
    height: 400px;
    background-color: white;
    color: var(--primary-blue-morning);
    margin: 50px 10px 0px;
    padding: 10px 10px;
    border-radius: 25px;
    text-align: center;
}

.title {
    font-size: 2.5em;
}

.instructions {
    font-size: 1.5em;
    padding: 0em 2em;
}

.header {
    display: inherit;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

#search {
    appearance: none;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 80%;
    z-index: 5;
    font-size: 1.5em;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em 0em 1em;
    z-index: 5;
}

#city {
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.temperature {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0.25em 0em;
    font-size: 4em;
}

.today {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.background-condition {
    display: none;
    width: 40%;
    height: 25%;
    top: 10%;
    left: inherit;
    opacity: 40%;
    position: absolute;
    z-index: 0;
    animation: 25s infinite alternate slide;
}

@keyframes slide {
    from {
        translate: -60% 0%;
    }

    to {
        translate: 60% 0%;
    }
}

.hour-container {
    display: none;
    flex-direction: row;
    background-color: white;
    color: var(--primary-blue-morning);
    height: 25%;
    width: 80%;
    margin: 1em 0em;
    padding: 8px 10px;
    border-radius: 10px;
    align-items: center;
    max-width: 75%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.hourly-forecast {
    display: flex;
    flex-direction: row;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-hour, .hourly-temp {
    width: 100%;
    margin: 0.5em;
    text-align: center;
}

.forecast-hour {
    font-size: 1em;
    font-weight: bold;
    padding-top: 0;
}

.hourly-condition {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
}

.hourly-temp {
    font-size: 1.25em;
    padding-bottom: 0;
}

.day-container {
    display: none;
    flex-direction: column;
    background-color: white;
    color: var(--primary-blue-morning);
    height: 33%;
    width: 75%;
    margin: 1em 0em;
    padding: 8px 10px;
    border-radius: 10px;
    align-items: center;
    max-height: 10em;
    overflow-y: scroll;
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0.15em 0em;
}

.forecast-date, .daily-temps {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.25em;
}

.forecast-condition {
    padding: 0;
    margin: 0px 15px 0px 0px;
    height: 15%;
    width: 15%;
}

::-webkit-scrollbar {
    scrollbar-width: none;
}

.error {
    display: none;
    width: 80%;
    height: 200px;
    background-color: white;
    font-size: 2.5em;
    color: var(--primary-blue-morning);
    margin: 50px 10px 0px;
    padding: 50px 10px 0px;
    border-radius: 25px;
    text-align: center;
}


@media screen and (min-width: 768px) {
body {
    margin-top: 25px;
    background-color: var(--background-blue);
}

.container {
    width: 500px;
    height: 550px;
    padding: 10px;
    border-radius: 35px;
    box-shadow: 2px 2px 5px var(--color-black-shadow);
    background-color: var(--primary-blue-morning);
    color: var(--primary-white);
}

.welcome {
    width: 75%;
    height: 300px;
}

.title {
    font-size: 3em;
}

.instructions {
    font-size: 2em;
    padding: 0em 1em;
}

#search {
    margin: 0px 20px;
    padding: 5px 10px;
    width: 75%;
    z-index: 5;
    font-size: 1em;
}

.details {
    margin: 0;
    z-index: 5;
}

#city {
    font-size: 3em;
}

.temperature {
    margin: 5px 0px 5px;
    font-size: 4em;
}

.today {
    font-size: 1.75em;
}

.background-condition {
    width: 150px;
    height: 150px;
    top: 15%;
}

.hour-container {
    height: 100px;
    margin: 20px 10px 0px;
    padding: 10px 5px;
    max-width: 75%;
}

.forecast-hour, .hourly-temp {
    margin: 5px 10px;
}

.forecast-hour {
    font-size: 1em;
    padding-top: 10px;
}

.hourly-condition {
    height: 50px;
    width: 50px;
}

.hourly-temp {
    font-size: 1.25em;
    padding-bottom: 10px;
}

.day-container {
    height: 175px;
    width: 75%;
    margin: 15px 10px 0px;
    padding: 0px 5px;
}

.day {
    margin: 0px 0px;
}

.forecast-date, .daily-temps {
    font-size: 1.25em;
}

.forecast-condition {
    height: 50px;
    width: 50px;
}

::-webkit-scrollbar {
    scrollbar-width: none;
}

.error {
    width: 75%;
    height: 300px;
    font-size: 2em;
}
}

@media screen and (min-width: 1650px) {
.title {
    font-size: 3em;
}

.instructions {
    font-size: 2em;
}

#city {
    font-size: 3em;
}

.temperature {
    margin: 0.05em 0px 0.05em;
    font-size: 5em;
}

.today {
    font-size: 2em;
}
}